{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "browsers": [
          ">1%",
          "last 4 versions",
          "Firefox ESR",
          "not ie < 11"
        ]
      }
    }],
    ["@babel/preset-stage-2", {
      "decoratorsLegacy": true
    }],
    "@babel/preset-react"
  ]
}
